In [1]:
import pandas as pd

In [4]:
personas ={
    "nombre":["Juan","Pedro","Luis"],
    "edad":[18,30,25]
}

pd.DataFrame(personas)

  nombre  edad
0   Juan    18
1  Pedro    30
2   Luis    25

In [8]:
#Listas de columnas

columns =["Marca", "Precio", "Disponibilidad"]
cocheOne = ["Mercedes",10e3, True ]
cocheTwo = ["BMW", 20e3, False]


df = pd.DataFrame([cocheOne,cocheTwo], columns=columns)

df

      Marca   Precio  Disponibilidad
0  Mercedes  10000.0            True
1       BMW  20000.0           False

In [10]:
precios =[20e3,2e3,24e3,23e3]
marcas =["Audi", "Mercedes", "Ferrari","Toyota"]
disponibilidad=[True, False, False, True]


df = pd.DataFrame(
    list(zip(marcas, precios, disponibilidad)),
    columns =["Marca", "Precio", "Disponibilidad"]
)

df

      Marca   Precio  Disponibilidad
0      Audi  20000.0            True
1  Mercedes   2000.0           False
2   Ferrari  24000.0           False
3    Toyota  23000.0            True